[buildout]
extends = 
    tangrama.cfg
    buildout.d/sources.cfg
    checkouts.cfg

extensions +=
     buildout.dumppickedversions
     mr.developer

parts +=
    checkversions
    createzopecoverage
    i18ndude
    omelette
    test

test-eggs =

eggs +=
    sauna.reload
#    Products.PDBDebugMode
    Products.PrintingMailHost

[hosts]
supervisor = 127.0.0.1
haproxy = 127.0.0.1
instance = 127.0.0.1

[instance]
recipe = plone.recipe.zope2instance
event-log-level = DEBUG
z2-log-level = DEBUG
deprecation-warnings = on
verbose-security = on
debug-mode = on
environment-vars +=
    CHAMELEON_DEBUG true
zope-conf-additional +=
    http-realm Desenv
    %import sauna.reload

[checkversions]
recipe=zc.recipe.egg
eggs=z3c.checkversions [buildout]

[createzopecoverage]
recipe = createzopecoverage

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${buildout:test-eggs}
