${buildout:directory}/var/log/instance*.log ${buildout:directory}/var/log/supervisord*.log ${buildout:directory}/var/log/memmon*.log ${buildout:directory}/var/log/zeo*.log {
    rotate 4
    weekly
    create
    copytruncate
    compress
    compresscmd /bin/bzip2
    compressext .bz2
    missingok
    maxage 30
    sharedscripts
    postrotate
        for pids in $(ls ${buildout:directory}/*.pid); do /bin/kill -USR2 $(cat "$pids"); done
    endscript
}
